#formContainer{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto auto;
    z-index: 10;
    background-color: rgba(180,180,180,0.8);
    border-radius: 15px;
    width: 40%;
    height: 40%;
    margin: 300px auto;
}

#formContainer a{
    border-radius: 15px;
    background-color:  rgba(210, 210, 210, 0.4);
    border: solid 3px transparent;
    text-decoration: none;
    color: black;
}

#formContainer h1{
    grid-column: 1/ span 2;
    text-align: center;
    font-size: 35px;
    margin: 15px 0;
}

button, #formContainer a{
    border-radius: 15px;
    background-color:  rgba(210, 210, 210, 0.4);
    border: solid 3px transparent;
    text-decoration: none;
    color: black;
}

button:hover , #formContainer a:hover{
    border-color: #1e1e1e;

}

button:active, #formContainer a:active{
    background-color:#c6ff00;
    border-color: transparent;
}

#formContainer p{
    background-color: rgba(210, 210, 210, 0.2);
    border: solid 3px #c6ff00;
    color: grey;
    border-radius: 15px;
}

#detailtype-buttons {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 10px;
}

#consultant-button{
    margin-left: 25%;
}

#landlord-button{
    margin-left: 10%;
}

label{
    text-align: right;
    margin: 10px 0;
    padding: auto;
    padding: 10px 20px;
    font-size: 17px;
}

input{
    margin: 10px;
    padding:10px 5px;
    width: 70%;
    font-size: 17px;
    border-radius: 10px;
}

#submit-buttons{
    grid-column: 1/ span 2;
    width: 100%;
    margin: 10px;
}

#submit-buttons button{
    font-size: 20px;
    width: 20%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#clear-button{
    margin-left: 25%;
}

#submit-button{
    margin-left: 10%;
}