section{
    width: 50%;
    background-color: rgba(180,180,180,0.8);
    border-radius: 15px;
    position: absolute;
    top: 150px;
    left: 500px;
    padding: 25px 40px;
    line-height: 1.4;
    letter-spacing: 2px;
    z-index: 2;
}

section h1, section p{
    color: var(--dark-color);
    font-size: 18px;
}

section h1{
    font-size: 40px;
}

#logo-image{
    position: absolute;
    top:320px;
    left: 180px;
    width: 350px;
    border-radius: 200px;
    border: solid rgb(184, 117, 36) 8px;
}