#viewPropertyContainer{
    position: absolute;
    left: 50%;
    top: 18%;
    z-index: 10;
    background-color: rgba(180,180,180,0.8);
    border-radius: 15px;
    width: 80%;
    padding-right: 10px;
    transform: translateX(-50%);
}

#viewPropertyContainer h1{
    text-align: center;
    font-size: 35px;
    margin: 15px 0;
}

#returnButtonDiv > a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color:  rgba(210, 210, 210, 0.4);
    margin: 20px auto;
    display: block;
    width: 50%;
    text-align: center;
    border: solid 3px transparent;
}

#returnButtonDiv > a:hover{
    border-color: black;
}

#returnButtonDiv > a:active{
    background-color: #c6ff00;
    color: black;
    border-color: transparent;
}

#tableContainer{
    display: block;
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 2%;
}

#tableHead .tableField{
    text-align: right;
    font-weight: bold;
    font-size: 25px;
    background-color: transparent;
    border: 0;
}

#tableHead{
    background-color: rgba(210,210,210,0.4);
    font-size: 25px;
}

.tableRow{
    border-bottom: solid 2px #1e1e1e;
}

.tableField{
    display: inline-block;
    text-align: center;
    border-right: dashed 2px #4f4f4f;
    padding: 1%;
    width: 14%;
    background-color: inherit;
    color: inherit;
    overflow: hidden;
}

#tableContainer button{
    width: 100%;
    background-color: transparent;
}

.tableRow:hover{
    background-color: #1e1e1e;
    color: white;
}

.tableRow:active{
    background-color: #c6ff00;
    color: black;
}

.line1Field{
    width: 30%;
}

.priceRow,  #tableHead .priceRow{
    border-right: transparent;
}

.booked{
    color:red;
}

.unbooked{
    color:green;
}